@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

$abel: 'Abel', 'Agency FB';

@layer base {
  @font-face {
    font-family: 'OriginTech';
    src: url('https://res.cloudinary.com/drixmykpt/raw/upload/v1724573420/spacestation/originfont.woff') format('woff');
  }
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor:
      url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
      auto;
  }

  body {
    background: #000; //#000;
    font-family: 'OriginTech', $abel;
  }

  .small-picker .react-colorful {
    width: 120px;
    height: 120px;
    margin: 30px;
  }

  .small-picker .react-colorful__hue {
    height: 20px;
  }

  .text {
    font-size: 6rem;
    margin: auto;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    min-width: 100vw;
  }

  @keyframes animateBg {
    0% {
      filter: hue-rotate(0deg);
    }

    100% {
      filter: hue-rotate(360deg);
    }
  }

  section .loader {
    position: relative;
    width: 120px;
    height: 120px;
  }

  section .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
  }

  section .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #42e3db;
    box-shadow:
      0 0 10px #42e3db,
      0 0 20px #42e3db,
      0 0 40px #42e3db,
      0 0 60px #42e3db,
      0 0 80px #42e3db,
      0 0 100px #42e3db;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
  }

  @keyframes animate {
    0% {
      transform: scale(1);
    }

    80%,
    100% {
      transform: scale(0);
    }
  }

  .progress {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(75, 219, 212);
    filter: drop-shadow(0 0 40px white);
    font-size: 70px;
    letter-spacing: 4px;
    text-shadow: 0px 0px 10px white;
    z-index: 1;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    box-shadow: inner;
  }

  .progress::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: hotpink;
    filter: blur(400px);
    z-index: -2;
  }

  .progress-bar {
    position: relative;
    width: 300px;
    height: 15px;
    border-radius: 15px;
    background: #222;
    box-shadow: inset black 2px 2px 4px 2px;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    filter: drop-shadow(0 0 10px white);
    z-index: 1;
  }

  /* .progress-bar::before{
      content:'';
      position:absolute;
      left:0.5%;
      top:55%;
      width: 50px;
      transform: translateY(-50%);
      height: 12px;
      border-radius: 10px;
      background: hotpink;
      box-shadow: inset black -1px -1px 2px 1px;
      z-index:1;
    } */

  .progress-bar::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 15px;
    border-radius: 15px;
    background: none;
    border: 0px solid black;
    box-shadow: inset white -1px -1px 2px 1px;
  }

  .progress-bar-inner {
    position: absolute;
    left: 0.5%;
    top: 50%;
    width: 300px;
    height: 10px;
    border-radius: 10px;
    background: #e367c6;
    box-shadow: inset black 1px 1px 2px 1px;
    z-index: 1;
    transform-origin: left;
  }
}
